[2014-12-09 18:20] frankcash opened #1 "Add unit tests"
We need to add unit tests to make sure we don't break anything when iterating versions.

We should use the `mocha` library to accomplish this.

[2015-01-20 21:51] StDako opened #4 "passwords should be hashed"
srsly. will fix this week.

[2015-01-25 04:13] StDako commented on #4
fixed with [most recent commit](https://github.com/StDako/node-email-verification/commit/549ed1336a9c24567bec8ead7ba35ce48676764b)

[2015-01-25 04:13] #4 closed

[2015-01-27 03:33] StDako opened #5 "TTL is broke"
was working before, not sure why it's not working now. attempting to fix

@frankcash could you verify this by trying out the express example and changing the expiration time option to 60 seconds

[2015-01-27 03:34] frankcash commented on #5
I will get to it tomorrow if that's okay!
On Jan 26, 2015 10:33 PM, "Dakota St. Laurent" <notifications@github.com>
wrote:

[2015-01-27 03:50] StDako commented on #5
fixed with [most recent commit](https://github.com/StDako/node-email-verification/commit/661fe4706e08612b508e47839ffc0cd316560c3c)

[2015-01-27 03:50] #5 closed

[2015-01-27 03:53] frankcash commented on #5
:+1:

[2015-01-31 16:50] SaintDako opened #6 "user will be added to temp collection if already in persistent collection"
when a user verifies their account, their data is moved to the persistent collection. they can actually sign up again and be put into the temp collection again, and then when they try to access the new URL they were sent, MongoDB will throw an error (at least if the email field is set to be unique). will fix ASAP.

[2015-01-31 17:01] StDako opened #7 "confirmTempUser callback param should be the user info itself, not a boolean"
it's more useful to have the information of the user. will fix literally now because it's preventing me from progressing on my current app.

[2015-01-31 17:28] #7 closed

[2015-08-07 19:00] whitef0x0 opened #8 "temporary user collection doesn't inherit pre-save hooks"
My temp user collection, which is generated with the `nev.generateTempUserModel(User);` command is not inheriting my pre-save mongoose hooks.

Short of creating a new mongoose schema for my temporary user collection is there anyway this can be fixe?

[2015-08-07 19:00] whitef0x0 opened #9 "generateTempUserModel() doesn't inherit pre-save hooks"
My temp user collection, which is generated with the `nev.generateTempUserModel(User);` command is not inheriting my pre-save mongoose hooks.

Short of creating a new mongoose schema for my temporary user collection is there anyway this can be fixe?

[2015-08-08 21:02] SaintDako commented on #9
hey,

if you look at the source of `generateTempUserModel`, only the schema's paths and methods are copied over. I'm guessing this doesn't include hooks of any kind (if it did, you wouldn't be running into this error).

so in that case, all that needs to be done is: find out where the hooks are stored in the Schema object, and then run a loop to copy them over. this is easy, and definitely doable,

[2015-08-12 22:16] frankcash opened #11 "Setup automated Testing"
Setup Travis or another service to automate testing.

[2015-08-13 15:28] SaintDako commented on #11
ok.

:hamburger:

[2015-10-18 19:24] SaintDako opened #12 "support SQL"
although MongoDB is definitely web-scale, it would be good to support SQL. I was thinking of using Sequelize to support all of the different kinds of SQL DBs buuuuut I know nothing about ORMs and if this is the place to use one.

cc @frankcash

[2015-10-23 01:54] MichaelTaylor3D opened #13 "createNewUser callback is never called"
callback is never called, any idea on what could be causing this? Am I missing a setting?

       var newUser = new User({
          name: req.body.name,
          password: md5(req.body.password),
          email: req.body.email
        });

        nev.createTempUser(newUser, function(err, newTempUser) {
          if(newTempUser) {
            nev.registerTempUser(newTempUser, function(err) {

[2015-10-23 03:01] SaintDako commented on #13
does the express example work for you?

[2015-10-23 18:19] MichaelTaylor3D commented on #13
yes the express example does work,

Ive continued to debug, I found that the issue is on line 141 of the email verification modules index.js.

The callback in

``` options.tempUserModel.findOne(query, function(err, existingUser) ```

is whats never being called. I have verified that options.tempUserModel returns a valid model, and I have verified that query[options.emailFieldName] contains a valid

[2015-10-23 18:23] MichaelTaylor3D commented on #13
Ive noticed that the github version has a async dependency and the version I got from npm does not. Do you think this could be related?

[2015-10-23 18:34] frankcash commented on #13
What is the version # of the package you got from NPM?

[2015-10-23 18:40] MichaelTaylor3D commented on #13
0.1.9

[2015-10-23 18:43] frankcash commented on #13
@SaintDako can you push the latest version to NPM>?

[2015-10-23 18:45] SaintDako commented on #13
Will do. Currently at my university convocation. Kill me.
On Oct 23, 2015 2:43 PM, "Frank Cash" <notifications@github.com> wrote:

[2015-10-23 23:08] SaintDako commented on #13
was pushed to npm just now

[2015-10-24 13:39] frankcash commented on #13
@MichaelTaylor3D do you know if using the newest version fixed your issue?

[2015-10-24 18:52] MichaelTaylor3D commented on #13
Im still testing it, doing my best to make sure Im not missing something obvious. It still cant get past line 161 in the new version (which was line 141 in the old)
```options.tempUserModel.findOne(query, function(err, existingUser) { ... }```
The callback in this function never gets invoked. Console logged out the query variable to be
```{ email: 'test@test.com' }```

[2015-10-24 19:19] MichaelTaylor3D commented on #13
just noticed, that the express example uses mongoose 3.9.7, and Im using monoose 4.2.0 and I noticed that there findOne implementation seems to be different. Im currently trying to get 3.9.7 implemented in my project. I have a feeling this may be the cause of the issue.

[2015-10-24 19:29] SaintDako commented on #13
If the temp user model is being created with nev, then nev's function calls
should be using the version of Mongoose that is specified in its
package.json (3.8.19). Then again, the ^ (caret) may be messing with
things. I'll try an example today

just noticed, that the express example uses mongoose 3.9.7, and Im using
monoose 4.2.0 and I noticed that there findOne implementation seems to be
differen

[2015-10-24 20:08] MichaelTaylor3D commented on #13
I got it to work! well sortof, the callback is finally being called, there is a MongooseError.ValidationError, but its possible that this could be my code.

I got it to work by pulling your nev code out of node modules and into my main project. Its possible that it worked because its now sharing the main mongoose installation.

[2015-10-24 20:20] MichaelTaylor3D commented on #13
yep, validation error was my problem, I set field username to be unique, but it seems when you create the temp model something happens that makes it not so unique. But other then that, its now working.

[2015-10-25 16:21] SaintDako commented on #13
I think I am now, actually. it seems that npm has changed the way `node_modules` works. if I'm not entirely crazy, I believe that the dependencies for each package were located inside the package's folder, e.g.

[code]

buuuut it seems that there are no inner dependencies, because `require` will look in parent directories. thus, if your app is using the newest version of Mongoose which apparently

[2015-10-25 16:48] SaintDako commented on #13
never mind, running `npm install --save email-verification` will install a 3.x version of Mongoose, but if your app also depends on Mongoose and you run `npm install --save mongoose`, you'll get the 4.x version. also, I believe Mongoose 3.9.x and 4.x are unstable, where as 3.8.x is the stable version, so it's presumably best to stick with the 3.8.x versions for now.

[2015-10-26 01:25] SaintDako commented on #13
**I fixed the issue**

NEV has `require('mongoose')`, so you were right, @MichaelTaylor3D, sorta - NEV requires the app-wide version of Mongoose. this issue can be fixed by exporting all of `index.js` as a function and passing in `mongoose` as a parameter:

[code]

this can be done easily and I'll do it in a bit

[2015-10-26 19:19] MichaelTaylor3D commented on #13
awesome, thanks for looking into it!

[2015-10-29 05:16] SaintDako commented on #11
done with #14

[2015-10-29 21:13] #13 closed

[2015-11-02 03:29] SaintDako commented on #12
running into callback issues with Sequelize (due to Bluebird), so I'm going to write Postgres (`pg`) and MySQL (`node-mysql`) code separately.

[2015-11-02 17:31] #11 closed

[2015-11-02 17:32] SaintDako opened #15 "add PostgreSQL queries"
from #12

[2015-11-02 17:32] SaintDako opened #16 "add MySQL queries"
from #12

[2015-11-07 23:42] SaintDako opened #18 "rewrite some code"
I don't know what drugs I was on when I wrote this thing but I really don't get why there's `createTempUser` and `registerTempUser`. will do this weekend (already in progress).

[2015-11-07 23:42] SaintDako opened #19 "allow user to define a hashing function"
will be part of 0.4.0, in progress already.

[2015-11-08 01:35] frankcash commented on #19
:100:%

[2015-11-08 03:38] #8 closed

[2015-11-08 18:02] Dakkers opened #21 "throw errors for invalid options"
perhaps for 0.4.1

[2015-11-10 04:39] SaintDako opened #22 "add ability to reset passwords?"
not sure if this should be part of the library or not, but it kinda makes sense to me.

[2015-11-12 02:58] #6 closed

[2015-11-12 14:17] #18 closed

[2015-11-12 14:17] #19 closed

[2015-11-12 22:23] SaintDako opened #23 "add callbacks to everything"
make it promisifiable!

[2015-11-13 17:35] SaintDako commented on #23
will do with #21

[2015-11-16 05:03] #23 closed

[2015-11-16 14:37] frankcash commented on #22
I think the password reset stage is possibly out of the scope of email verification

[2015-11-18 01:54] SaintDako opened #25 "createTempUser's callback should have three params"
`createTempUser(newUser, callback( err, persistentUser, newTempUser)`

the function already checks for the user being in the persistent collection. if there is a user, then `newTempUser` will just be `null`, but this is ambiguous, as `newTempUser = null` if the user isn't found in the temporary collection.

`persistentUser` should be `null` if the user is NOT found in the persistent collection. ma

[2015-11-19 18:31] Dakkers opened #27 "write more tests"
I noticed after submitting #26 that there weren't tests for checking for failures, e.g.
- temp user has already signed up
- temp user signed up but document expired (forcefully removed)
- temp user confirmed account but tried to sign up again

will do this weekend!

[2015-11-21 03:30] SaintDako opened #28 "add hapi example"
I've been using HapiJS at work, and it's pretty simple, so I'm going to end up writing NEV for Hapi. hopefully it works the same...

[2015-11-21 22:48] SaintDako opened #29 "support Neo4j"
support ALL the things

:cake:

[2015-11-21 22:54] frankcash commented on #29
Hell ya

On Sat, Nov 21, 2015, 5:48 PM Dakota St. Laurent <notifications@github.com>
wrote:

[2015-11-22 22:33] Dakkers opened #30 "resendVerificationEmail callback should take three params"
in the light of #25

[2015-12-11 22:49] whitef0x0 commented on #12
+1

[2015-12-12 16:36] prakashjais99 opened #31 "Validation error while creating generated user model"
var userSchema = new mongoose.Schema({
        name: {
            first: {type: String, required: true, trim: true},
            last: {type: String, required: true, trim: true}
        },
        password: {type: String, select: false}
    });

    nev.generateTempUserModel(User)

    var user = new User();
    user.name.first = req.body.name.first;
    user.name.last = req.body.name.last;

nev.

[2016-03-01 19:51] SarasArya commented on #31
Same is with me. temporary_users validation failed. I thought the schema was not getting generated. But it is getting generated, still throwing this error? Why?

[2016-03-02 18:26] SaintDako commented on #31
hey, sorry I haven't worked on this in a while. I will try to get around to it sometime this week!

[2016-03-02 18:27] frankcash commented on #31
LET'S HACK IT BRUH

On Wed, Mar 2, 2016 at 1:26 PM Dakota St. Laurent <notifications@github.com>
wrote:

[2016-03-02 21:38] SarasArya commented on #31
Hey, guys, it's solved now. If your main schema has some components which in which required is true and while creating a new temporary object you don't declare them, you get an error saying temporary_users validation failed.

[2016-05-03 18:00] qualitycode opened #33 "nodemailer-mandrill-transport may not be required as a dependancy?"
According to bithound, nodemailer-mandrill-transport does not seem to be required.  See
https://www.bithound.io/github/SaintDako/node-email-verification/master/dependencies/npm

[2016-05-05 19:14] MSkaffari commented on #25
I'm able to create new users with the same email in my permanent collection. createTempUser seems to check for existence of the email in temp collection only

[2016-05-05 19:15] MSkaffari opened #34 "sendConfirmationEmail not working for me"
I still receive confirmation emails when I configure email-verification with

sendConfirmationEmail: false

[2016-05-06 20:38] whitef0x0 commented on #33
Yes you are correct it is not needed

[2016-05-08 13:28] shabbir21 opened #35 "user[options.emailFieldName] equates to undefined if email field is nested in another object"
According to the docs:
emailFieldName: the field name for the user's email. If the field is nested within another object(s), use dot notation to access it, e.g. {local: {email: ...}} would use 'local.email'. Required.

but at line 230 of [index.js] in createTempUser function
`query[options.emailFieldName] = user[options.emailFieldName];`
`user[options.emailFieldName]` equates to undefined if email

[2016-05-10 08:41] whitef0x0 commented on #34
I fixed this in my most recent PR.

[2016-05-10 17:18] MSkaffari commented on #34
Very cool. this works.

You might want to fix the documentation also. The docs say

    sendConfirmationEmail: true/false

When the parameter in the code is

    shouldSendConfirmation: true/false

[2016-05-10 17:22] whitef0x0 commented on #35
Can you elaborate more on how to replicate this error?

[2016-05-10 17:24] whitef0x0 commented on #34
Just updated #36 to change the README for this.

[2016-05-10 17:34] shabbir21 commented on #35
I have a schema and email field is within another object like this :
`contact:{mobile:String,email:{type:String, unique:true}}`

In nev options i have set email field like this:
`emailFieldName: 'contact.userName'`

Now when a client signs up, nev tries to look for clients email in temp collection. For that it needs to extract the email value from the user passed to it in createTempUser function.

[2016-05-10 17:44] shabbir21 commented on #35
Schema and nev configurations attached

[init.txt](https://github.com/SaintDako/node-email-verification/files/257783/init.txt)
[clientProfile.txt](https://github.com/SaintDako/node-email-verification/files/257784/clientProfile.txt)

[2016-06-06 10:30] dozzerka commented on #35
**My user schema:**
[code]

after changed **emailFieldName** and **passwordFieldName**
[code]

First of all doesnt creating an email field in newTempUser but i have post in my database without them:
[code]

[2016-06-09 18:53] shabbir21 commented on #35
@dozzerka you must be using `nev.generateTempUserModel(User);` to generate the temporary model. It doesnt work in case your schema has nested objects. Instead making your own temporary model will solve this issue.

[2016-06-09 19:01] shabbir21 commented on #35
@whitef0x0
I was able to fix the issue i highlighted earlier.

i changed the below code in index.js file.
[code]
by removing line 229 and 230. And change line 232 and 242 as follows:
[code]

After this it works.

[2016-06-18 22:18] #29 closed

[2016-06-18 22:18] #9 closed

[2016-06-18 22:18] #12 closed

[2016-06-18 22:18] #15 closed

[2016-06-18 22:18] #16 closed

[2016-06-18 22:18] #22 closed

[2016-06-18 22:19] whitef0x0 commented on #35
@SaintDako merge /fix?

[2016-06-18 22:19] whitef0x0 commented on #29
Does it support Neo4j now @SaintDako?

[2016-06-18 22:19] #34 closed

[2016-06-18 22:20] #31 closed

[2016-06-18 22:20] #28 closed

[2016-06-18 22:20] whitef0x0 commented on #33
@SaintDako this can be closed as its fixed

[2016-06-18 22:22] #33 closed

[2016-06-18 22:23] SaintDako commented on #29
@whitef0x0 Nope, but I'm no longer going to be maintaining this. I personally don't care about Neo4j.

[2016-06-18 22:29] whitef0x0 commented on #29
@SaintDako maintaining this library?

[2016-06-18 22:29] whitef0x0 commented on #29
Are there any active maintainers right now?

[2016-06-18 22:29] SaintDako commented on #29
There are not

[2016-06-18 22:30] whitef0x0 commented on #29
@SaintDako I have a large popular project which is has this as a dependency. I'd be happy to take over ownership

[2016-06-18 22:31] SaintDako commented on #29
Cool, that works for me. Is your project part of a Github organization?

[2016-06-18 22:32] whitef0x0 commented on #29
@SaintDako I'm about to move it over to one. My github oeg is tellform

[2016-06-18 22:32] whitef0x0 commented on #29
Some of my project is

[2016-06-18 22:32] whitef0x0 commented on #29
*github org

[2016-06-18 22:34] SaintDako commented on #29
Ok, cool. I'll transfer you the ownership then.

[2016-06-18 22:35] SaintDako commented on #29
You'll have to delete your fork from your Github first, it's saying that "whitef0x0/node-email-verifcation already exists".

[2016-06-18 22:36] whitef0x0 commented on #29
@SaintDako can you also give me publishing access on npm? My npm username is @whitef0x0

[2016-06-18 22:42] whitef0x0 commented on #29
@SaintDako done

[2016-06-20 17:46] #1 closed

[2016-06-21 01:02] #25 closed

[2016-06-21 01:07] whitef0x0 commented on #35
@shabbir21 your solution does not make sense considering mongoose's api for findOne

[2016-06-21 01:27] whitef0x0 commented on #35
This has been fixed in the most recent commit

[2016-06-21 01:27] #35 closed

[2016-06-21 14:13] frankcash opened #38 "Update `package.json`"
The `package.json` file now has misleading information.  Needs to point to the correct repo.  Also have updated contributors list.

[2016-06-21 14:27] frankcash opened #40 "Deprecated packages"
`npm install` warns of some deprecations we might want to take care of

[code]

These aren't issues with our code just the packages we're using.

[2016-06-21 15:47] frankcash commented on #40
Although, there isn't a problem with our code I went ahead and changed the JSHint packages to grab the latest instead of grab the same version always.

[2016-06-21 17:53] #38 closed

[2016-06-21 17:53] #40 closed

[2016-06-22 17:12] shabbir21 commented on #35
@whitef0x0 my bad i pasted the wrong code here.

I used your code as follows:
[code]

[2016-06-23 10:11] melkir opened #41 "TypeError: callback is not a function in index.js:153"
I have the following error when I try to do the following code

[code]

[code]
Do you know what can be the cause ?

[2016-06-23 11:05] melkir commented on #41
I have replace return

by

The error is gone by I don't know if everything will work after that

[2016-06-23 17:50] whitef0x0 commented on #41
@melkir configure takes a callback

[2016-06-23 17:57] whitef0x0 commented on #41
Updated the README to reflect this.

[2016-06-23 17:57] #41 closed

[2016-06-24 05:01] melkir commented on #41
Thank you !

[2016-06-24 05:29] melkir opened #42 "SendGrid transport option"
I want to implement my transport option with SendGrid but I have the following error :

And my implementation is the following :
[code]

Is it possible to use a custom nodemailer-transport instead of configure it ?

Like this one https://github.com/sendgrid/nodemailer-sendgrid-transport
Here how it works
`
var mailer = nodemailer.createTransport(sgTransport(options));
`

[2016-06-24 05:52] melkir commented on #42
[code]

[2016-06-24 05:52] #42 closed

[2016-06-25 06:03] melkir opened #43 "Nested field for hashing password doesn't work"
passwordFieldName: the field name for the user's password. If the field is nested within another object(s), use dot notation to access it (see above). Required.

It's doesn't work for me, I have "local.password" for my field passwordFieldName and in your insertTempUser (index.js) function you use
`tempUserData[options.passwordFieldName] = password;`
Which create a field "local.password : blabla" i

[2016-06-25 06:12] melkir commented on #43
It should be something like that
[code]
[code]

[2016-06-25 14:09] whitef0x0 commented on #43
@melkir right now this is the best way I can think of supported nested object

[2016-06-26 02:23] alanplotko opened #44 ""Callback is not a function" upon sending confirmation email"
Hello! I'm just checking in to report two instances of the error in the subject on the latest version.

The first time was just a minor issue where the callback for `generateTempUserModel` wasn't mentioned in the sample code in the readme, so adding it stopped the error. Step 3 in the readme uses no callback, but the API at the bottom does. That was my fault, so no worries.

Second time around was

[2016-06-27 18:40] whitef0x0 commented on #44
@alanplotko I'll look into this in more detail

[2016-06-27 18:41] whitef0x0 commented on #44
@alanplotko sendConfirmationEmail takes a callback

[2016-06-27 22:45] #43 closed

[2016-06-27 23:44] alanplotko commented on #44
@whitef0x0 The default is that a confirmation email is sent upon verification (`shouldSendConfirmation = true`), right? Just doing that gives me:

    node_modules/nodemailer-smtp-transport/lib/smtp-transport.js:141
                    return callback(null, info);
                           ^
    TypeError: callback is not a function

Following the example in server.js sends out two emails, and re

[2016-06-29 01:53] whitef0x0 commented on #44
hmmm okok

[2016-06-29 01:57] whitef0x0 commented on #44
Sound probably add a test case for this as well @frankcash

[2016-06-29 18:42] frankcash commented on #44
I can work on doing tests next week :+1:

[2016-07-06 05:56] paragverma commented on #44
I'm sort of a beginner in Node. Anyone can explain me how to get around this bug?

[2016-07-08 06:16] sahil224 commented on #44
where do i need to make the change ? i am not able to find file where the change is to be made at line 340..

[2016-07-08 06:45] paragverma commented on #44
The file is index.js in the source folder...

[2016-07-08 06:48] sahil224 commented on #44
@paragverma  thanks mate... :)

[2016-07-13 05:42] Ruegen commented on #44
I'm still getting this issue, I've looked into the index.js to see no change. I get double emails + a crash...

[2016-07-20 02:22] whitef0x0 commented on #44
@Ruegen @alanplotko this should be fixed now. Sorry about the wait

[2016-07-21 00:04] #44 closed

[2016-07-28 14:03] y5f opened #46 "how to implement node-email-verification for multi-types of users with different mongoose model (teacher, student)"

[2016-07-28 15:24] whitef0x0 commented on #46
You could subclass a single model.

[2016-07-28 15:51] y5f commented on #46
thank you David, can you please give an example  how I can subclass a model

[2016-08-12 22:18] KyoZeus opened #47 "NPM Package outdated"
Ran into this issue with confirmation e-mail, which was receiving "true" as a callback function.
It was easily fixed on commit bb2177933bdb609db7fdff4b0c1d3f2b4729572c, but the NPM package is outdated and doesn't include that change.

[2016-08-12 22:42] KyoZeus opened #48 "Change docs on confirmTempUser"
confirmTempUser checks your _nev.options.shouldSendConfirmation_, and if it is true, sends a confirmation message. The docs don't mention this, and suggest implementing a _sendConfirmationEmail_ if you wish to send one. This will make the user receive two separate confirmation e-mails.

The docs should include that the user should choose to have _shouldSendConfirmation_ on 'true' or (exclusive) us

[2016-08-13 03:02] whitef0x0 commented on #47
@KyoZeus I'll update the npm package by this weekend

[2016-08-13 03:02] whitef0x0 commented on #48
Can you submit a PR for this?

[2016-08-13 05:16] KyoZeus opened #50 "getNestedValue undefined bug"
Bug introduced on commit fe78efc.
The function getNestedValue changed from:
[code]

to

`for (let i = 0, path = path.split('.'), len = path.length; i < len; i++)`

This change declares 3 lets, "i", "path" and "len". The problem with this is that path is already a defined variable, received as argument of the function, and used in the function.
To solve this problem, you need to either declare the

[2016-08-14 01:27] whitef0x0 commented on #47
This has been fixed.

[2016-08-14 01:27] #47 closed

[2016-08-14 01:27] #48 closed

[2016-08-14 01:27] #46 closed

[2016-08-14 01:29] whitef0x0 commented on #50
This has been merged.

[2016-08-14 01:29] #50 closed

[2016-08-26 00:13] whitef0x0 opened #51 "Add templating support"
Should be able to compile and send emails rendered from templates.

[2016-09-10 22:10] crashspringfield opened #52 "error on install"
When I NPM I get the following error:

(node-gyp rebuild 2> builderror.log) || (exit 0)

I've tried some of the suggestions (deleting .node-gyp, making sure no instances of mongod are running) but still get the same error.

[2016-09-14 21:03] whitef0x0 commented on #52
hmmm

[2016-09-14 21:03] whitef0x0 commented on #52
What's your OS and node version (run node -v to find out)

[2016-09-20 00:52] egch commented on #44
it works but I got twice the confirmation mail

[2016-10-15 13:52] crashspringfield commented on #52
Mint 17.4, Node 6.5.0

[2016-10-24 22:41] mjabraham47 opened #54 "TypeError: Temporary user model not defined. Either you forgotto generate one or you did not predefine one."
Everything seems to be set up right but it doesn't recognize a temporary user model either generated or predefined.

Any insights?

[2016-10-24 22:53] mjabraham47 commented on #54
` generated temp user model: true` is showing in my console every time, too

[2016-11-11 22:23] whitef0x0 commented on #52
@crashspringfield this is an issue with your compiler not to do with this module

[2016-11-11 22:24] whitef0x0 commented on #54
@mjabraham47 does mongodb show the generated temp user document?

[2016-11-12 20:06] mjabraham47 commented on #54
Everything worked out --- I'm using the library successfully. Thanks though!

[2016-11-12 20:06] #54 closed

[2016-11-19 02:47] SFaubion opened #55 "Temporary users does not delete on specified time for Ubuntu 16.04"
On my laptop which has Ubuntu 14.04 the temporary users delete after the correct amount of time. But on my desktop which has Ubuntu 16.04 the delete time for temporary users does not work. I read on MongoDB's site that Ubuntu 16.04 is not fully supported yet. Is there a workaround for this in the mean time, instead of using the key value pair expirationTime: 'key in seconds'?

[2016-11-20 15:02] muratsu commented on #55
Where did you read this exactly? Mongodb 3.2+ should be supporting Ubuntu 16.04.

[2017-01-03 17:00] mitchellmakos opened #57 "CloudantDB"
Can Cloudant be used in place of Mongodb?

[2017-01-10 04:45] gustavomassa opened #58 "API function to validate URL parameter"
Hello,

First of all, excellent job, your library is really useful.

We need public route to verify the account and receive the token(generated url) to validate the account. I created a html page and I`m receiving the url token by parameter, but I would like to validate the url token before consulting the validation rest service. Now I`m using the "URLLength" option to validate it.
What you think

[2017-01-10 23:43] whitef0x0 commented on #58
@gustavomassa what do you mean by the decryption of the url token?

[2017-01-11 00:42] gustavomassa commented on #58
@whitef0x0
Lets say I receive the url token on my angular controller, now I need to check if that url is already activated, so I need get the user email that is inside the url token.
Why I need to check it? Because the user has the verification email with the link and he can click on the verification link how many times he want, so I need to check if the account is already verified and return the

[2017-01-11 05:02] whitef0x0 commented on #58
you mean unhashing the url hash

[2017-02-08 04:08] whitef0x0 commented on #57
@mitchellmakos what is cloudant?

[2017-02-12 01:37] SFaubion commented on #55
I don't remember, I'm using Ubuntu vs 14.04 and am still having issues with the specified deletion time. It's still supposed to be in seconds right?

[2017-02-12 02:56] SFaubion commented on #55
Figured it out, I had to log into the mongo shell and do db.temporary_users.drop() to change the settings for that collection

[2017-02-26 06:25] piazzatron opened #59 "Out of date sample code for generateTempUserModel"
The sample code on http://email-verification.xyz/ is out of date, and calls:

`nev.generateTempUserModel(User);`

This will fail, since generateTempUserModel requires a callback parameter in addition to a user.

[2017-02-27 12:54] Hanzofm opened #60 "Error sending confirmation mail: No recipients defined"
Hi, I'm using your library and works fine for me except on the confirmation mail:

When I try to confirm to user that their verification mail has been confirmed the console returns me this error
[code]

This is the mailOptions passed to `transporter.sendMail`

[code]

What could be wrong? Thanks

[2017-02-27 19:31] whitef0x0 commented on #59
@piazzatron thanks for the heads up. I'll update the site with this.

[2017-02-27 19:31] #59 closed

[2017-02-27 19:31] #57 closed

[2017-02-27 19:31] #52 closed

[2017-02-27 19:32] #55 closed

[2017-02-27 19:32] whitef0x0 commented on #60
What version of Node and Mongo are you using?

[2017-02-27 19:47] #58 closed

[2017-02-27 20:28] techaware commented on #60
I also faced the same issue. However, it looks like if option shouldSendConfirmation is True (default), then confirmTempUser API function assumes email field on the persistent User is named 'email'.
`            if (options.shouldSendConfirmation) {
              sendConfirmationEmail(**savedUser.email**, null);
            }
            return callback(null, user);
          });`

Work around cou

[2017-02-27 20:55] whitef0x0 commented on #60
@techaware @Hanzofm this has already been fixed on the master branch. I think I just forgot to update the npm package.

[2017-02-27 20:56] #60 closed

[2017-02-28 09:42] Hanzofm commented on #60
Hi,

I've updated the npm package to `0.4.6` version and then the email is succesfully sended but, two times...

I've configured the `emailFieldName: 'mail'`

Is this normal?

[2017-03-05 08:32] doubleUTF opened #61 "Feature to re-verify current users request to update email."
I'm looking at the API and wondering if there is a method to update an existing user's email and require double-opt in for that as well. Since this only touches the permanent user model and not the temporary one, will this require a new method such as `nev.sendNewVerificationEmail(newEmail,oldEmail, url, callback(err,info))`?

[2017-03-07 01:05] whitef0x0 commented on #61
@doubleUTF there is no such method yet, but PRs are always welcome 👍

[2017-03-07 01:05] #61 closed

[2017-03-17 09:11] Markus1607 opened #62 "Navigation links malfunctioned"
The navigation links on the  documentation website is not working. You might want to look into that.

[2017-03-22 23:00] frankcash commented on #62
Hello, thanks for reporting this. I will look into this!  Could you provide more detail though?

[2017-03-24 09:35] Mkpa opened #63 "error callback is not a function"
Pls I need help to go round this error. It's evident that some had already encountered it. I've tried editing the index.js file. Yet no positive response still. I always get
return callback (null, options); //happens on line 154

TypeError: callback is not a function

[2017-03-25 19:15] Markus1607 commented on #62
The navbar links on the documentation page does not take a user to a specified section on the page when clicked on.  Will have a look into it.

[2017-03-25 20:19] frankcash commented on #62
Oh yeah, I see that now.  Thanks for reporting!  If you'd want to submit a PR please do.

[2017-03-28 09:58] Hanzofm opened #64 "Temporary user model not defined. Either you forgotto generate one or you did not predefine one"
I'm reciving this error from the library.

The temporary model, temporary_users is already created on mongodb but  the error still showing

configured: true
generated temp user model: true

Messages from the library is showed always

Any idea?

[2017-03-29 01:52] frankcash commented on #64
hello, can you please include your code

[2017-03-30 01:42] frankcash commented on #63
hello, please include your code

[2017-04-01 07:03] abhilash29 commented on #54
@mjabraham47 What fixed the issue?

[2017-04-02 18:15] WissemChb commented on #54
@mjabraham47 how did you fix the problem?

[2017-05-09 19:57] Gebon opened #65 "mongoose version"
Why are you using `mongoose` of 3.x version? There are already released v4.9.8

[2017-05-10 21:17] whitef0x0 commented on #65
I haven't had time to update mongoose but we are always open to PRs if you want.

[2017-05-11 05:44] Gebon commented on #65
Oh, ok. I thought, that there some reason to use older version. I'll try to update mongoose)

[2017-05-29 11:11] juanda99 commented on #51
It's been a while... what's the current status?
I was trying to implement your code in my app, but I need localization for my app and it seems node-email-verification should need some changes.
Just saw https://github.com/crocodilejs/node-email-templates. Could something like this be implemented so we get templates & localization at the same time?
I could try to make a PR. Any recommendation?

[2017-06-01 16:51] mmarovich commented on #64
@frankcash I am getting this exact same error, and I can link to you my repo: https://github.com/mmarovich/politics-react/tree/emailVerify

Here I have put everything inside of the server.js to get it to work, but I had originally had all of the code separated into a nev folder, which is still there, but not being used.  I tried to model it after your code here.

[2017-06-11 11:53] topilski opened #68 "Not all fields copied"
Hi, i have User table which have inner password and email fields, when created temp record i see next:
![image](https://user-images.githubusercontent.com/4686379/27010772-4b6d4c2c-4eb5-11e7-91ae-fec0a7ac766d.png)

my user scheme is:
[code]

Why not inserted local.password and local.email?

[2017-06-12 10:18] michael-kamel opened #69 "No checks for other unique attributes other than email"
If a user exists in persistent collection with a unique attribute other than email, adding another user to the temp collection with the same value for that attribute succeeds which causes an error when verifying the new user.

[2017-06-15 12:24] LostInCode404 commented on #35
I'm having the same issue. If I `console.log(query);` in the `createTempUser()` method, I get it as `{ local: { email: { undefined: {} } } }`. My schema has `{ local: {email:String, pw:String}}` and I've used `local.email` as the `emailFieldName` in the config. @whitef0x0 , is there a way to fix it without editing the code inside the `email-verification` module(I don't want to be edit that) or I'l

[2017-06-16 13:14] IvanMMM commented on #61
Any updates on this? I can realize it myself, but in this case let's discuss how it will work.
I'm thinking about new collection `changingEmails` with next fields:
`userId` - we'l send it back to user in our callback so user can select user to be updated;
`newEmail` - we'l send it back to user in our callback too;
`token` - to generate/get url link, obviously,
`createdAt` - to let user decide TTL

[2017-06-16 19:55] cpuzzuol commented on #63
You need to add a callback to generateTempUserModel like so:

nev.generateTempUserModel(User, function(err, tempUserModel) {
    if (err) {
      console.log(err);
      return;
    }

    console.log('generated temp user model: ' + (typeof tempUserModel === 'function'));
  });

[2017-06-16 20:00] cpuzzuol opened #70 "newTempUser not being generated"
#### What's this issue about?

When I run

    rev.createTempUser()

the third argument "newTempUser" is null. The code I'm using is the exact same as in the tutorial.

#### Expected behavior

I was expecting a newTempUser to be created and passed to the createTempUser() callback.

#### Actual behavior

Instead, newTempUser is null.

#### Steps to reproduce

#### Environment

Using express and mon

[2017-07-09 12:18] charisTheo commented on #68
I had the same problem and in end I had to rewrite the **confirmTempUser()** function :/
The issue is in this line:
`      if (tempUserData) {
        **var userData = JSON.parse(JSON.stringify(tempUserData))**`

when I log the userData variable after conversion I get only two properties:
` { _id: '59621ca4e6b6c851478d6f4d', email: 'example@gmail.com' } `

[2017-07-10 12:01] frankcash commented on #68
@charisTheo if you supply a pull request I'd love to accept it 👍

[2017-07-26 20:45] whitef0x0 opened #72 "Check if User is already Verified"
Currently if user was already verified, NEV will treat it as a generic error. We should check to see if the user already exists and was already verified and if so return a boolean or some sort of flag to indicate this.

[2017-07-27 09:05] ketanbhardwaj opened #73 "Cannot overwrite `temp_user` model once compiled"
Every time I run the below mentioned code, I get this error.

`nev.generateTempUserModel(User);`

How can I recompile the code?

[2017-07-27 09:12] #73 closed

[2017-07-27 09:14] ketanbhardwaj commented on #70
@cpuzzuol I am facing the same issue. Did you find any solution?

[2017-08-11 14:32] valgussev opened #74 "Test failed"
Running npm test on the latest master and on 0.4.2 gives me the following errors:
[code]

I'm using MongoDB v3.4.7 which is up and running and there is no problem to connect using mongo command. What can cause an issue?

[2017-08-11 20:30] emulibrary commented on #70
No, @ketanbhardwaj I have not had a chance to review and solve yet

[2017-08-19 20:50] SFaubion opened #75 "How to get confirmTempUser to throw an error?"
For testing purposes I want to get

[code]
to throw an error. But if I do something like change the nev settings or turn off the internet, err is still null and it just returns the user as not found. How do I make the error not be null?

[2017-09-07 15:17] sarora2073 opened #76 "async npm package not required?"
Hi,

In devDependencies i'm guessing this line can be removed:

    "async": "^1.4.2"

I searched through the files and don't see any usage.

Regards,

- S. Arora

[2017-09-07 17:55] whitef0x0 commented on #76
Yep that's correct. Will remove it later today.

[2017-09-07 17:55] #76 closed

[2017-09-16 21:52] Keggatron commented on #54
Did anyone ever get this problem solved? I'm having the same issue and would love to know how to fix it. @mjabraham47

[2017-09-18 17:24] mjabraham47 commented on #54
I don't really remember the problem or what I did, but I'm pasting my code below in the hopes that it helps:

`nev.configure({
    verificationURL: 'http://localhost:3000/users/email-verification/${URL}',
    persistentUserModel: User,
    transportOptions: {
        service: 'Gmail',
        auth: {
            user: 'xxx@gmail.com',
            pass: 'xxx'
        }
    },
    passwordFieldName:

[2017-10-03 12:07] ppprevost opened #77 "Plz update your versions Module for Nodemailer ! It's deprecated"
Thanks for the modules but we cannot use it ! Nodemailer is deprecated before version below 4.x.x ! And your final version in production is 0.4.6 with noemailer 1.x.x !

npm view email-verification versions

[ '0.1.0',
  '0.1.1',
  '0.1.2',
  '0.1.3',
  '0.1.4',
  '0.1.5',
  '0.1.6',
  '0.1.7',
  '0.1.8',
  '0.1.9',
  '0.2.0',
  '0.3.1',
  '0.4.1',
  '0.4.2',
  '0.4.3',
  '0.4.5',
  '0.4.6' ]

Ple

[2018-01-22 15:18] daureslaurent opened #78 "[ERR_INVALID_CALLBACK]: Callback must be a function"
events.js:136
      throw er; // Unhandled 'error' event
      ^

TypeError [ERR_INVALID_CALLBACK]: Callback must be a function
    at Object.randomBytes (internal/crypto/random.js:44:11)
    at Object.options.source (/home/lolo/izipadel/node_modules/rand-token/index.js:60:25)
    at Object.generate (/home/lolo/izipadel/node_modules/rand-token/index.js:95:29)
    at /home/lolo/izipadel/node_module

[2018-02-01 12:06] hizaku2000 commented on #78
I have the same issue with node v9.2. The error doesn't occur when using node v8.9.4. possibly the version of rand-token is not compatible with node v9

[2018-02-14 00:45] kenanEkici opened #81 "No recipients defined"
I'm getting the following error after invoking **sendConfirmationEmail**
I have provided an email address and double checked to make sure it was valid. I am still getting this error however. I had also provided **shouldSendConfirmation: true,** in the config.

C:\Users\Kenan\Desktop\Wegpiraat\node_modules\email-verification\index.js:86
        throw err;
        ^

Error: No recipients defined

[2018-02-28 01:32] engMaher commented on #78
by drilling down to node_modules/rand-token/index.js:60:25 , after interchanging the value given to the  switch case "default and crypto" , it works fine , but does this affect the predictability of the random tokens?

[2018-03-15 21:01] JMoli opened #82 "generateTempUserModel takes a callback"
Missing from the docs

[2018-05-08 21:18] RosarioAleCali commented on #82
@JMoli Hey, I am using this package for the first time and I I think I am experiencing the issue that you are describing here. Could you please expand more on the issue and on how to solve it? I am relatively new with this technology so a simple example would help a lot. Thanks :)

[2018-06-03 23:57] joshbenz commented on #78
yeah i'm having this problem right now. rand-token says they fixed it but you have to update it.
https://github.com/sehrope/node-rand-token/issues/9
probably to 0.4.0 but this email-verification is using ^0.2.1

[2018-06-13 14:02] SeunghunSunmoonLee commented on #78
maintainers, please update rand-token to 0.4 in the package.json !

[2018-06-13 15:29] SeunghunSunmoonLee commented on #31
but if you set persistent user model , then it  automatically takes care of it, right?

[2018-06-16 11:19] Caruso33 opened #83 "TypeError: Cannot read property 'paths' of undefined"
Object.generateTempUserModel (node_modules/email-verification/index.js:172:29) runs into problems:

[code]

I use node-email-verification for the first time and just updated all npm packages, hence my mongoose version is 5.1.5 which might break the index.js file.

I see that the User model from mongoose now returns User.User.schema....not User.schema.
If that is changed on several places, however,

[2018-07-03 06:21] chiragmittal19 commented on #78
OS: Windows 10 x64
node version: 10.2.1
rand-token version: 0.4.0

Still getting the same error!

TypeError [ERR_INVALID_CALLBACK]: Callback must be a function
    at maybeCallback (fs.js:157:9)
    at Object.fs.writeFile (fs.js:1276:14)
    at D:\Projects\learning_app\node-utils\json_file_generation.js:130:8
    at Query.<anonymous> (D:\Projects\learning_app\node-utils\query.js:25:16)
    at Quer

[2018-07-03 14:45] joshbenz commented on #78
@chiragmittal19 You are actually getting a different error that has to do with " Object.fs.writeFile" instead of "Object.randomBytes". I suspect your error isn't related to this package. Are you using fs.writeFile anywhere? It requires a callback as per the documentation, https://nodejs.org/api/fs.html#fs_fs_writefile_file_data_options_callback

[2018-07-03 20:33] #78 closed

[2018-07-04 06:30] riyazpanarwala commented on #78
The above error is resolved when rand token package gets updated to 0.4.0.
But i got below error while sending email using nev.sendVerificationEmail

{ Error: unable to verify the first certificate
    at TLSSocket.onConnectSecure (_tls_wrap.js:1036:34)
    at TLSSocket.emit (events.js:159:13)
    at TLSSocket._finishInit (_tls_wrap.js:637:8) code: 'ECONNECTION', command:
'CONN' }

[2018-07-04 06:34] riyazpanarwala commented on #78
To solve above error i have added below parameters in nev transportOptions config.
tls: {
  rejectUnauthorized: false
}

[2018-07-04 07:41] riyazpanarwala commented on #78
Got this error while confirming user. This happens when tring to store temporary users into real users.

{ ValidationError: real_users validation failed
    at ValidationError.inspect (E:\wamp\www\node-email-verification-master\node-
email-verification-master\examples\express\node_modules\mongoose\lib\error\valid
ation.js:56:24)
    at formatValue (util.js:438:38)
    at inspect (util.js:328:10)

[2018-07-04 12:54] joshbenz commented on #78
@riyazpanarwala  ah I see. I'm not really sure. I'm not a maintainer or anything, I just happened to know how to fix the bug for this issue, so I did lol. Your issue doesn't seem to be related to this bug and the issue is closed, so you might wanna open a new issue with your new problem.

[2018-07-05 05:06] riyazpanarwala opened #85 "Validationerror :- real_users validation failed error while confirming user."
OS: Windows 7 x64
node version : 9.2.0

Got this error while confirming user. This happens when tring to store temporary users into real users.

{ ValidationError: real_users validation failed
at ValidationError.inspect (E:\wamp\www\node-email-verification-master\node-
email-verification-master\examples\express\node_modules\mongoose\lib\error\valid
ation.js:56:24)
at formatValue (util.js:438:38)
a

[2018-07-05 06:21] iamal12 commented on #78
update to  latest version of npm,  just run the command
npm install npm@latest -g

[2018-07-05 06:58] joshbenz commented on #85
What version of mongoose are you using? Also, got any code to look at?

[2018-07-05 07:05] riyazpanarwala commented on #85
"mongoose": "^5.2.0",
"nodemailer": "^4.6.7",

[2018-07-05 13:55] joshbenz commented on #85
That's what I was guessing. The project dependency is mongoose 3.8 . So a lot has changed between 3.8 and 5.2 lol. They need to update to 5.2 but it will probably take some work to do so. Otherwise, you gotta downgrade to 3.8. there is another issue I saw, issue # 83, whose problem is also caused by this.

[2018-07-05 14:42] riyazpanarwala commented on #85
It will be great if you upgrade the version because i can use mongoose for other things too in my project,

[2018-07-07 23:03] 4R53N opened #86 "nev.generateTempUserModel(User) doesn't work with fields nested inside objects"
I have a schema something like:
[code]

[2018-07-10 08:11] riyazpanarwala commented on #85
I have updated package.json of this module to

"mongoose": "^5.2.2",
"nodemailer": "^4.6.7",

And it works with mongo 4.x.

[2018-07-10 09:19] riyazpanarwala commented on #85
However i need to add this line { validateBeforeSave: false }, when confirming temp user to real user.

user.save({ validateBeforeSave: false }, function(err, savedUser) {}

[2018-08-22 10:13] charisTheo commented on #70
same issue here though all three of the arguments of the callback function are null:
[code]
**err:  null
newTempUser:  null
existingPersistentUser:  null**

also using mongoose and express

[2018-08-22 19:39] charisTheo commented on #70
if the user exists but has not confirmed yet, meaning that an email is sitting somewhere, the callback will return **null, null, null**

_from the index.js of email-verification at line 275, inside the createTempUser function:_

`// user has already signed up but not yet confirmed their account
        if (existingTempUser) {
          return callback(null, null, null);
        }`

make sure you h

[2018-10-02 21:52] #65 closed

[2018-11-10 09:45] chiheon commented on #78
node.js : 10.9.0
rand-token : 0.4.0
I can solve this problem by change the code named "index.js" in "email-verification"
( "email-verification" is located in node_modules )
please change the code

[2018-12-01 20:33] #30 closed

[2018-12-01 20:34] #27 closed

[2019-11-16 17:38] mmccor26 opened #88 "TypeError [ERR_INVALID_CALLBACK]: Callback must be a function. When createTempUser is called"

[2019-11-16 17:40] mmccor26 commented on #88
This error occurs when you call the function
events.js:174
      throw er; // Unhandled 'error' event
      ^

TypeError [ERR_INVALID_CALLBACK]: Callback must be a function
    at Object.randomBytes (internal/crypto/random.js:48:11)
    at Object.options.source (/home/ubuntu/environment/se3316-mmccor26-lab5/node_modules/rand-token/index.js:60:25)
    at Object.generate (/home/ubuntu/environment/se

[2019-12-23 02:24] Isaac-Leanos commented on #88
This exact error is destroying me lol

[2020-03-11 16:12] KKKaneki commented on #88
Is there a answer for this? I am getting the same error

[2020-03-19 23:24] Flo2410 commented on #88
I'm getting it to...

[2020-08-09 09:39] laub1199 commented on #88
same...

[2020-10-02 15:22] #21 closed

[2020-10-16 02:05] datnguyen293 commented on #88
This package is too old. It's not compatible with new node (v9 up). It is using old version of rand-token package when this issue was not fixed. Please take a look here for more information: https://github.com/sehrope/node-rand-token/issues/10

[2020-10-16 02:19] datnguyen293 commented on #88
It is very simple fix I made by the fork here: https://github.com/datnguyen293/node-email-verification

I also created a pull request to original repository: https://github.com/whitef0x0/node-email-verification/pull/89

[2020-12-06 12:48] MatviiStelmakh commented on #88
as a temporary solution you can:
1. add "rand-token": "^0.4.0" to your `package.json`
2. use `npm shrinkwrap`
3. change in  `npm-shrinkwrap.json`

[code]

[2021-01-03 14:29] andrei-deeyu commented on #88
Aahh guys! After 3 hours I finally found it! rand-token doesn't work.

*Opening the Issues tab to read this page* oh wait.. - nevermind.

[2021-01-16 08:01] sennett-lau opened #90 "It is possible to do multiple nev.configure?"
In my application, I wish to separate two kinds of users with Customer and Shop; therefore I got CustomerSchema and ShopSchema with TempCustomerSchema and TempShopSchema and also other different configs like verificationURL, and verifyMailOptions, how should I do multiple configs if I have 2 register route '/register/customer' and '/register/shop'? Do I simply call nev.configure inside different r

[2021-01-16 08:50] #90 closed, assigned to nobody

[2021-06-06 08:55] Npradheepan commented on #78
PS C:\Users\pradh\OneDrive\Desktop\Node.js\Ex_5> node index.js
Node.js!
fs.js:169
  throw new ERR_INVALID_CALLBACK(cb);
  ^

TypeError [ERR_INVALID_CALLBACK]: Callback must be a function. Received undefined
    at maybeCallback (fs.js:169:9)
    at Object.appendFile (fs.js:1540:14)
    at Object.<anonymous> (C:\Users\pradh\OneDrive\Desktop\Node.js\Ex_5\index.js:3:4)
    at Module._compile (interna

[2021-06-06 08:56] Npradheepan commented on #78
I have this problem please  help me.